@model LearningTool.ViewModels.TestFormViewModel
@{
    ViewBag.Title = "Create Test";
}

<h2>Create a new test</h2>
@using (Html.BeginForm("CreateTest", "Test"))
{
    <p class="alert alert-info">All fields are <strong>mandatory</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Subject)
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", autofocus = "autofocus"})
        @Html.ValidationMessageFor(m => m.Subject)
</div>
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")    
}

