@model LearningTool.ViewModels.TestDetailsViewModel

@{
    ViewBag.Title = "Delete Test";
}

<h2>Delete Test</h2>

<h3>Are you sure you want to delete this?</h3>
<h4>Subject : @Html.DisplayFor(model => model.TestSubject)</h4>
<div>
    <table class="table">
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(modelItem => item.Question):</b>
                    @Html.DisplayFor(modelItem => item.Question) <br />
                    <b>@Html.DisplayNameFor(modelItem => item.Answer):</b>
                    @Html.DisplayFor(modelItem => item.Answer)<br />
                    <b>@Html.DisplayNameFor(modelItem => item.Hint):</b>
                    @Html.DisplayFor(modelItem => item.Hint)<br />
                    <b>@Html.DisplayNameFor(modelItem => item.Mnemonic):</b>
                    @Html.DisplayFor(modelItem => item.Mnemonic)
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to Test", "Details", new { id = Model.TestId })
        </div>
    }
</div>
